<title>ChessBeef.com</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Original chess app resources -->
<script src="/public/js/jquery-3.7.0.min.js"></script>
<link rel="stylesheet" href="/public/css/chessboard-1.0.0.min.css" />
<script src="/public/js/chessboard-1.0.0.min.js"></script>
<script src="/public/js/chess-0.10.3.min.js"></script>

<!-- Custom ChessBeef styling -->
<link rel="stylesheet" href="/public/css/style.css">

<!-- Favicon -->
<link rel="icon" href="/public/img/chessbeef.ico" type="image/x-icon">

<!-- Socket.io -->
<script src="/socket.io/socket.io.js"></script>
<script>let socket = io();</script>